In [3]:
print('''
Olá, meu nome é Caio.
Eu tenho 29 anos e sou palmeirense.
''')

Olá, meu nome é Caio.
Eu tenho 29 anos e sou palmeirense.

# Título 1

In [4]:
2+2

4

In [6]:
2**4

16

In [7]:
10%3

1

In [8]:
3*3

9

In [9]:
4/2

2.0

In [10]:
type(2)

int

In [11]:
type("texto")

str

In [12]:
lst = [1,2,3]

In [13]:
lst

[1, 2, 3]

In [14]:
type(lst)

list

In [15]:
for i in range(4):
    print(i)

0
1
2
3

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame({'nomes': ["Caio", "Mariane"], "idade": [29, 30]})

In [22]:
df

     nomes  idade
0     Caio     29
1  Mariane     30

In [23]:
from pandas import DataFrame

In [24]:
DataFrame({'nomes': ["Caio", "Mariane"], "idade": [29, 30]})

     nomes  idade
0     Caio     29
1  Mariane     30